<% if current_user && current_user.admin == true %>
    <%= render 'admins/links' %>
<% else %>
    <%= render 'sessions/links' %>
<% end %>

<h1> Welcome to DeckManager </h1>
<p>
    This application keeps track of decks made for the Pokemon Trading Card Game. Become a user today and 
    you can create your own decks to share with others. If you're a competitive player, we record 
    tournaments with the decks that did the best to give you up to date information about the meta. 
</p>

<%= link_to "View all public decks", decks_public_path %> <br>
<%= link_to "View all tournaments", tournaments_path %> <br> 